<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit posts</title>
</head>
<body>
    <h3>Post id: <%=post.id%></h3>
    <h3>Name:<%=post.name%></h3>
    <form method="POST" action="/posts/<%=post.id%>?_method=PATCH">
        
        <textarea name="content"><%=post.content%></textarea>
        <button>Edit post</button>
    </form>
</body>
</html>