<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <h1>Stack Overflow</h1>
    
    <form method="get" action="/posts">
    
<button>Posts</button>
    </form>
</center>
</body>
</html>