h1{
    color:maroon;
    cursor: pointer;
    text-align: center;
}
div{
    height: 200px;
    width: 30%;
    background: pink;
    margin:20px;
    border-radius: 20px;
}
div {
    padding: 20px;
}
body{
    background: linear-gradient(45deg,blue,pink);
}
#btn1,#btn2{
    color: purple;
    font-size: 22px;
}
#btn3{
    color: white;
    font-size: 20px;
}
#btn{
    color: white;
    font-size: 20px;

}
button{
    padding: 20px 25px;
    background: maroon;
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}